<div class="min-h-screen flex items-center justify-center space-x-40 ">
    <img src="assets/Cleanic_logo.png" alt="Logo" class="w-70 h-70" />
    <div class="bg-slate-300 p-8 rounded-2xl shadow-2xl w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Changez votre mot de passe</h2>
         <form (ngSubmit)="submit(form)" #form="ngForm">
            <div class="mb-4">
                <label class="block mb-1 text-gray-600 font-medium">Ancien mot de passe</label>
                <input type="password" name="oldPassword" [(ngModel)]="model.oldPassword" required
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="********" />   

            </div>
            <div class="mb-4">
                <label class="block mb-1 text-gray-600 font-medium">Nouveau mot de passe</label>
                <input type="password" name="newPassword" [(ngModel)]="model.newPassword" required
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="********" />
            </div>
            <div class="mb-4">
                <label class="block mb-1 text-gray-600 font-medium">Confirmer le nouveau mot de passe</label>
                <input type="password" name="confirmNewPassword" [(ngModel)]="model.confirmNewPassword" required
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="********" />
            </div>
            <button type="submit" [disabled]="!form.form.valid"
                class="w-full bg-amber-600 hover:bg-amber-700 text-white py-2 rounded-lg text-lg font-semibold transition duration-300">
                Se connecter
            </button>
        </form>
    </div>
</div>