<div class="p-1 space-y-1">
  <div class="flex justify-between px-4 py-2">
    
    <h3 class="text-lg font-semibold">Bienvenue, {{ prenomNom && poste ? prenomNom +' | '+ poste : 'Diarra Niang | Directrice générale' }}</h3>
    <div class="flex items-center space-x-2">
      <div [ngClass]="role === 'SUPERADMIN' ? 'bg-yellow-500' : 'bg-gray-400'"
        class="p-2 rounded-full flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
        </svg>

      </div>

      <span class="text-sm text-gray-700 font-medium">
        {{ role === 'SUPERADMIN' ? 'Super Admin' : role === 'admin' || 'Admin' ? 'Admin' : 'Utilisateur' }}
      </span>
      <app-super-admin *ngIf="role === 'SUPERADMIN'"></app-super-admin>
    </div>

  </div>
  <h1 class="text-2xl font-bold">Tableau de bord - <span class="text-green-600">Point</span><span
      class="text-pink-600">IC</span></h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="bg-white p-4 rounded-2xl shadow">
      <h2 class="text-lg">👥 Employés enregistrés</h2>
      <p class="text-2xl font-bold">{{ stats?.total }}</p>
    </div>
    <div class="bg-green-100 p-4 rounded-2xl shadow">
      <h2 class="text-lg">✅ Présents aujourd'hui</h2>
      <p class="text-2xl font-bold">{{ stats?.present }}</p>
    </div>
    <div class="bg-red-100 p-4 rounded-2xl shadow">
      <h2 class="text-lg">❌ Absents aujourd'hui</h2>
      <p class="text-2xl font-bold">{{ stats?.absent }}</p>
    </div>
  </div>
</div>