<div class="flex h-screen overflow-hidden">

  <!-- Sidebar (desktop) -->
  <div [ngClass]="{
      'w-64': isOpen,
      'w-16': !isOpen
    }"
    class="shadow-lg z-20 text-white mb-20  bg-slate-500 transition-all duration-300 ease-in-out flex flex-col rounded-3xl">
    <!-- Toggle Button -->
    <button (click)="toggleSidebar()" class="p-4 focus:outline-none ">
      <span *ngIf="isOpen">⏴</span>
      <span *ngIf="!isOpen">⏵</span>
    </button>

    <img src="assets/Cleanic_logo.png" alt="logo" class=" mx-auto w-32 h-14">

    <!-- Nav Links -->
    <nav class="flex-1 space-y-2 mt-2 mb-1 overflow-y-scroll scrollbar-hidden">
      <ul>
        <li *ngIf="hasPermission('Dashboard') || role === 'SUPERADMIN'">
          <a routerLink="/admin/dashboard" [ngClass]="{
          'bg-gray-700 font-bold': isActive('/admin/dashboard'),
          'text-center': !isOpen
        }" class="p-2 flex items-center space-x-2 rounded  hover:bg-gray-700 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd"
                d="M3 6a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm4.5 7.5a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0v-2.25a.75.75 0 0 1 .75-.75Zm3.75-1.5a.75.75 0 0 0-1.5 0v4.5a.75.75 0 0 0 1.5 0V12Zm2.25-3a.75.75 0 0 1 .75.75v6.75a.75.75 0 0 1-1.5 0V9.75A.75.75 0 0 1 13.5 9Zm3.75-1.5a.75.75 0 0 0-1.5 0v9a.75.75 0 0 0 1.5 0v-9Z"
                clip-rule="evenodd" />
            </svg>


            <span *ngIf="isOpen">Tableau de bord</span>
          </a>
        </li>
        <li *ngIf="hasPermission('Admin') || role === 'SUPERADMIN'">
          <a routerLink="/admin/gestion-privilege" [ngClass]="{ 
      'bg-gray-700 font-bold': isActive('/admin/gestion-privilege'),
      'text-center': !isOpen
    }" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-700 px-2 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
              <path
                d="M160-240v-480 480Zm0 80q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v132q-19-8-39.5-10.5t-40.5.5v-122H447l-80-80H160v480h324l-4 4v76H160Zm400 80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
            </svg>
            <span *ngIf="isOpen">Gestion des utilisateurs</span>
          </a>
        </li>

        <!--Superviseurs-->
        <!--<li *ngIf="hasPermission('Controlleurs')">
          <a routerLink="/admin/gestion-superviseurs" [ngClass]="{ 
      'bg-gray-700 font-bold': isActive('/admin/gestion-superviseurs'),
      'text-center': !isOpen
    }" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-700 px-2 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-3.084 5.25a3.084 3.084 0 1 1 6.168 0 3.084 3.084 0 0 1-6.168 0ZM12 17.25c-2.485 0-4.662-1.426-5.812-3.5a5.978 5.978 0 0 1 11.624 0c-1.15 2.074-3.327 3.5-5.812 3.5Z"
                clip-rule="evenodd" />
            </svg>
            <span *ngIf="isOpen">Gestion des controleurs</span>
          </a>
        </li>-->
        <li *ngIf="hasPermission('StatistiquesAgences') || role === 'SUPERADMIN'">
          <a routerLink="/admin/dashboard-par-agence" [ngClass]="{
      'bg-gray-700 font-bold': isActive('/admin/dashboard-par-agence'),
      'text-center': !isOpen
    }" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-700 px-2 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
              <path d="M160-160v-320h160v320H160Zm240 0v-640h160v640H400Zm240 0v-440h160v440H640Z" />
            </svg>
            <span *ngIf="isOpen">Statistiques par agence</span>
          </a>
        </li>

        <li *ngIf="hasPermission('Planification') || role === 'SUPERADMIN'">
          <a routerLink="/admin/planification" [ngClass]="{
      'bg-gray-700 font-bold': isActive('/admin/planification'),
      'text-center': !isOpen
    }" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-700 px-2 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
            </svg>
            <span *ngIf="isOpen">Planifications</span>
          </a>
        </li>

        <li *ngIf="hasPermission('Calendrier') || role === 'SUPERADMIN'">
          <a routerLink="/admin/calendrier" [ngClass]="{
      'bg-gray-700 font-bold': isActive('/admin/calendrier'),
      'text-center': !isOpen
    }" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-700 px-2 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path
                d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" />
              <path fill-rule="evenodd"
                d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
                clip-rule="evenodd" />
            </svg>

            <span *ngIf="isOpen">Calendrier</span>
          </a>
        </li>

        <li *ngIf="hasPermission('Stock') || role === 'SUPERADMIN'">
          <!-- Bouton parent -->
          <button (click)="toggleDropdown('stock')"
            class="flex items-center justify-between w-full p-2 rounded hover:bg-gray-700 transition-all duration-200"
            [ngClass]="{
      'bg-gray-700 font-bold': isActivePrefix('/admin/stock'),
      'text-center': !isOpen
    }">

            <div class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#FFFFFF">
                <path
                  d="M120-40v-880h80v80h560v-80h80v880h-80v-80H200v80h-80Zm80-480h80v-160h240v160h240v-240H200v240Zm0 320h240v-160h240v160h80v-240H200v240Zm160-320h80v-80h-80v80Zm160 320h80v-80h-80v80ZM360-520h80-80Zm160 320h80-80Z" />
              </svg>
              <span *ngIf="isOpen">Gestion du stock</span>
            </div>

            <!-- Flèche -->
            <svg [ngClass]="{'rotate-180': openDropdown === 'stock'}" class="w-4 h-4 transform transition-transform"
              fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>

          <!-- Sous-menu -->
          <ul *ngIf="openDropdown === 'stock'" class="ml-8 mt-1 space-y-1 text-sm">

            <!-- Articles & Produits -->

            <li>
              <a routerLink="/admin/stock/produits" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <!--hover:bg-blue-50 hover:text-blue-700 transition-->
                <lucide-icon name="Package" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Articles & Produits</span>
              </a>
            </li>

            <!-- Réceptions (Entrées) -->

            <li>
              <a routerLink="/admin/stock/entrees" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <lucide-icon name="ArrowUp" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Réceptions / Entrées</span>
              </a>
            </li>

            <!-- Sorties / Livraisons -->

            <li >
              <a routerLink="/admin/stock/sorties" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <lucide-icon name="ArrowDown" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Sorties / Livraisons</span>
              </a>
            </li>
            <li>
              <a routerLink="/admin/stock/suivi" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <lucide-icon name="Activity" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Suivi du Stock</span>
              </a>
            </li>

            <!-- Dashboard & statistiques -->

            <li>
              <a routerLink="/admin/stock/rapports-statistiques" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <lucide-icon name="ChartBar" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Dashboard & Statistiques</span>
              </a>
            </li>

            <!-- Rapports mensuels -->
            <!--<li>
              <a routerLink="/admin/stock/rapports-mensuels" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <lucide-icon name="FileText" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Rapports Mensuels</span>
              </a>
            </li> -->

            <!-- Historiques des entrées -->
            <li>
              <a routerLink="/admin/stock/historiques-entrees" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <lucide-icon name="FolderArchive" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Historiques des entrées</span>
              </a>
            </li>

            <!-- Historiques des sorties -->
            <li>
              <a routerLink="/admin/stock/historiques-sorties" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <lucide-icon name="FolderArchive" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Historiques des sorties</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Collecte et livraison -->

        <li *ngIf="hasPermission('CollecteLivraison') || role === 'SUPERADMIN'">
          <!-- Bouton parent -->
          <button (click)="toggleDropdownCollecte('collecte')"
            class="flex items-center justify-between w-full p-2 rounded hover:bg-gray-700 transition-all duration-200"
            [ngClass]="{
      'bg-gray-700 font-bold': isActivePrefix('/admin/collecte-et-livraison'),
      'text-center': !isOpen
    }">

            <div class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-6" viewBox="0 -960 960 960" fill="#FFFFFF">
                <path
                  d="M286-289h60l255-255-59-61-256 256v60Zm333-273 39-39q7-7 7.5-15.5T658-633l-29-28q-8-8-16-7.5t-15 7.5l-38 38 59 61ZM180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h205q5-35 32-57.5t63-22.5q36 0 63 22.5t32 57.5h205q24.75 0 42.38 17.62Q840-804.75 840-780v600q0 24.75-17.62 42.37Q804.75-120 780-120H180Zm0-60h600v-600H180v600Zm300-617q14 0 24.5-10.5T515-832q0-14-10.5-24.5T480-867q-14 0-24.5 10.5T445-832q0 14 10.5 24.5T480-797ZM180-180v-600 600Z" />
              </svg>
              <span *ngIf="isOpen">Collecte et livraison</span>
            </div>

            <!-- Flèche -->
            <svg [ngClass]="{'rotate-180': openDropdownCollecte === 'collecte'}"
              class="w-4 h-4 transform transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>

          <!-- Sous-menu -->
          <ul *ngIf=" openDropdownCollecte === 'collecte'" class="ml-8 mt-1 space-y-1 text-sm">

            <li>
              <a routerLink="/admin/collecte-et-livraison/collecte-des-besoins" [ngClass]="{
        'bg-gray-700 font-bold': isActive('/admin/collecte-et-livraison/collecte-des-besoins'),
        'text-center': !isOpen
      }" class="p-2 flex items-center space-x-2 rounded  hover:bg-gray-700 transition-all duration-200">
                <lucide-icon name="NotebookPen" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span *ngIf="isOpen">Collecte des besoins</span>
              </a>
            </li>

            <li>
              <a routerLink="/admin/collecte-et-livraison/suivi-livraison" [ngClass]="{
        'bg-gray-700 font-bold': isActive('/admin/collecte-et-livraison/suivi-livraison'),
        'text-center': !isOpen
      }" class="p-2 flex items-center space-x-2 rounded  hover:bg-gray-700 transition-all duration-200">
                <lucide-icon name="TrendingUp" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span *ngIf="isOpen">Suivi des commandes</span>
              </a>
            </li>

          </ul>
        </li>


        <li *ngIf="hasPermission('JoursFeries') || role === 'SUPERADMIN'">
          <a routerLink="/admin/feries" [ngClass]="{
        'bg-gray-700 font-bold': isActive('/admin/feries'),
        'text-center': !isOpen
      }" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-700 px-2 transition-all duration-200">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
                clip-rule="evenodd" />
            </svg>
            <span *ngIf="isOpen">Jours fériés</span>
          </a>
        </li>
        <!-- Données employé -->

        <li *ngIf="hasPermission('Employes') || role === 'SUPERADMIN'">
          <!-- Bouton parent -->
          <button (click)="toggleDropdownEmploye('employe')"
            class="flex items-center justify-between w-full p-2 rounded hover:bg-gray-700 transition-all duration-200"
            [ngClass]="{
      'bg-gray-700 font-bold': isActivePrefix('/admin/employes'),
      'text-center': !isOpen
    }">

            <div class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd"
                  d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z"
                  clip-rule="evenodd" />
                <path
                  d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
              </svg>
              <span *ngIf="isOpen">Employés</span>
            </div>

            <!-- Flèche -->
            <svg [ngClass]="{'rotate-180': openDropdownEmploye === 'employe'}"
              class="w-4 h-4 transform transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>

          <!-- Sous-menu -->
          <ul *ngIf=" openDropdownEmploye === 'employe'" class="ml-8 mt-1 space-y-1 text-sm">

            <li>
              <a routerLink="/admin/employes/donnees-complet" [ngClass]="{
        'bg-gray-700 font-bold': isActive('/admin/employes/donnees-complet'),
        'text-center': !isOpen
      }" class="p-2 flex items-center space-x-2 rounded  hover:bg-gray-700 transition-all duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                  <path fill-rule="evenodd"
                    d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z"
                    clip-rule="evenodd" />
                  <path
                    d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
                </svg>

                <span *ngIf="isOpen">Données complètes</span>
              </a>
            </li>

            <li>
              <a routerLink="/admin/employes/donnees-partiel" [ngClass]="{
        'bg-gray-700 font-bold': isActive('/admin/employes/donnees-partiel'),
        'text-center': !isOpen
      }" class="p-2 flex items-center space-x-2 rounded  hover:bg-gray-700 transition-all duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                  <path fill-rule="evenodd"
                    d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z"
                    clip-rule="evenodd" />
                  <path
                    d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
                </svg>

                <span *ngIf="isOpen">Données partielles</span>
              </a>
            </li>

          </ul>
        </li>
        <li *ngIf="hasPermission('Agences') || role === 'SUPERADMIN'">
          <a routerLink="/admin/agences" [ngClass]="{
        'bg-gray-700 font-bold': isActive('/admin/agences'),
        'text-center': !isOpen
      }" class="p-2 flex items-center space-x-2 rounded  hover:bg-gray-700 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path
                d="M11.584 2.376a.75.75 0 0 1 .832 0l9 6a.75.75 0 1 1-.832 1.248L12 3.901 3.416 9.624a.75.75 0 0 1-.832-1.248l9-6Z" />
              <path fill-rule="evenodd"
                d="M20.25 10.332v9.918H21a.75.75 0 0 1 0 1.5H3a.75.75 0 0 1 0-1.5h.75v-9.918a.75.75 0 0 1 .634-.74A49.109 49.109 0 0 1 12 9c2.59 0 5.134.202 7.616.592a.75.75 0 0 1 .634.74Zm-7.5 2.418a.75.75 0 0 0-1.5 0v6.75a.75.75 0 0 0 1.5 0v-6.75Zm3-.75a.75.75 0 0 1 .75.75v6.75a.75.75 0 0 1-1.5 0v-6.75a.75.75 0 0 1 .75-.75ZM9 12.75a.75.75 0 0 0-1.5 0v6.75a.75.75 0 0 0 1.5 0v-6.75Z"
                clip-rule="evenodd" />
              <path d="M12 7.875a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z" />
            </svg>

            <span *ngIf="isOpen">Agences</span>
          </a>
        </li>


        <li *ngIf="hasPermission('Absences') || role === 'SUPERADMIN'">
          <!-- Bouton parent -->
          <button (click)="toggleDropdownAbsent('absences')"
            class="flex items-center justify-between w-full p-2 rounded hover:bg-gray-700 transition-all duration-200"
            [ngClass]="{
      'bg-gray-700 font-bold': isActivePrefix('/admin/absences'),
      'text-center': !isOpen
    }">

            <div class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd"
                  d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm3 10.5a.75.75 0 0 0 0-1.5H9a.75.75 0 0 0 0 1.5h6Z"
                  clip-rule="evenodd" />
              </svg>
              <span *ngIf="isOpen">Absences</span>
            </div>

            <!-- Flèche -->
            <svg [ngClass]="{'rotate-180': openDropdownAbsent === 'absences'}"
              class="w-4 h-4 transform transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>

          <!-- Sous-menu -->
          <ul *ngIf="openDropdownAbsent === 'absences'" class="ml-8 mt-1 space-y-1 text-sm">

            <li>
              <a routerLink="/admin/absences/tempsreel" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <!--hover:bg-blue-50 hover:text-blue-700 transition-->
                <lucide-icon name="UserX" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Absences en temps réel</span>
              </a>
            </li>
            <li>
              <a routerLink="/admin/absences/historique" routerLinkActive="bg-gray-700 font-semibold"
                [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded hover:bg-gray-700">
                <lucide-icon name="ArchiveX" class="w-5 h-5 text-yellow-500 mr-3"></lucide-icon>
                <span>Historique des absences</span>
              </a>
            </li>


          </ul>
        </li>

        <li *ngIf="hasPermission('Pointages') || role === 'SUPERADMIN'">
          <a routerLink="/admin/pointages" [ngClass]="{
        'bg-gray-700 font-bold': isActive('/admin/pointages'),
        'text-center': !isOpen
      }" class="p-2 flex items-center space-x-2 rounded  hover:bg-gray-700 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
            </svg>

            <span *ngIf="isOpen">Pointages</span>
          </a>
        </li>
        <div class="ml-1">
          <button class="bg-red-600 flex w-15 items-center space-x-2 mt-5  text-white px-2  py-2
         hover:bg-red-700 transition-all duration-200 rounded-2xl shadow-lg" (click)="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path fill-rule="evenodd"
                d="M12 2.25a.75.75 0 0 1 .75.75v9a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM6.166 5.106a.75.75 0 0 1 0 1.06 8.25 8.25 0 1 0 11.668 0 .75.75 0 1 1 1.06-1.06c3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788a.75.75 0 0 1 1.06 0Z"
                clip-rule="evenodd" />
            </svg>
            <span *ngIf="isOpen">Déconnexion</span></button>
        </div>


      </ul>

    </nav>
  </div>

  <!-- Content Area -->
  <div class="flex-1 p-4 overflow-auto bg-gray-100 rounded-3xl mb-20">
    <router-outlet></router-outlet>
  </div>
</div>