<div class="p-4">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">

    </span>
    <div class="relative w-full mb-4 max-w-md">
        <input type="text" [(ngModel)]="searchText" placeholder="Recherche..."
            class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
        <!-- Search Icon -->
        <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-gray-400 pointer-events-none"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-4.35-4.35M17 10a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
    </div>

    <div class="mb-4 flex gap-2">
        <button (click)="exportExcel()" class="bg-green-500 text-white px-4 py-2 rounded">Excel</button>
        <button (click)="exportPdf()" class="bg-red-500 text-white px-4 py-2 rounded">PDF</button>
    </div>

    <h2 class="text-lg font-semibold mb-4 text-gray-500 text-center">Historique des absences</h2>

    <table class="min-w-full table-auto border border-gray-300 border-collapse">
    <thead>
        <tr class="bg-gray-200 border-b border-gray-300">
            <th class="p-2 border-r">code employé</th>
            <th class="p-2 border-r">Prénom</th>
            <th class="p-2 border-r">Nom</th>
            <th class="p-2 border-r">Numéro</th>
            <th class="p-2 border-r">dateAbsence</th>
            <th class="p-2 border-r">Motif</th>
            <th class="p-2 border-r">Justification</th>
            <th class="p-2 border-r">Site</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let absent of filteredAbsents"
            class="border-b border-gray-200 hover:bg-gray-50 transition">
            
            <td class="p-2 border-r">{{ absent.codeSecret }}</td>
            <td class="p-2 border-r">{{ absent.prenom }}</td>
            <td class="p-2 border-r">{{ absent.nom }}</td>
            <td class="p-2 border-r">{{ absent.numero }}</td>
            <td class="p-2 border-r">{{ absent.dateAbsence }}</td>
            <td class="p-2 border-r">{{ absent.motif }}</td>
            <td class="p-2 border-r">{{ absent.justification }}</td>
            <td class="p-2 border-r">{{ absent.site }}</td>
            
        </tr>
    </tbody>
</table>

</div>

<!-- Modal modification -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center ease-in-out bg-black bg-opacity-50 z-50">
    <div class="bg-white p-6 rounded-lg w-full max-w-md">
        <h2 class="text-xl font-semibold mb-4">
            Ajouter un motif ou une justification
        </h2>

        <form (ngSubmit)="saveModal(form)" #form="ngForm" novalidate>

            <div class="mb-2">
                <input class="w-full p-2 border rounded" name="code" [(ngModel)]="modalData.codeSecret"
                    placeholder="code employé" required [readOnly]="showModal" />
                <p class="text-red-500 text-sm" *ngIf="form.submitted && !form.controls['code']?.valid">Code requis</p>
            </div>

            <div class="mb-2">
                <input class="w-full p-2 border rounded" name="nom" [(ngModel)]="modalData.nom" placeholder="Nom"
                    required [readOnly]="showModal" />
                <p class="text-red-500 text-sm" *ngIf="form.submitted && !form.controls['nom']?.valid">Nom requis</p>
            </div>

            <div class="mb-2">
                <input class="w-full p-2 border rounded" name="prenom" [(ngModel)]="modalData.prenom"
                    placeholder="Prénom" required [readOnly]="showModal" />
                <p class="text-red-500 text-sm" *ngIf="form.submitted && !form.controls['prenom']?.valid">Prénom requis
                </p>
            </div>

            <div class="mb-2">
                <input class="w-full p-2 border rounded" name="numero" [(ngModel)]="modalData.numero"
                    placeholder="Numéro" required pattern="^[0-9]+$" [readOnly]="showModal" />
                <p class="text-red-500 text-sm" *ngIf="form.submitted && !form.controls['numero']?.valid">Numéro requis
                    (chiffres uniquement)</p>
            </div>

            <div class="mb-2">
                <input class="w-full p-2 border rounded" name="dateAbsence" [(ngModel)]="modalData.dateAbsence"
                    placeholder="date d'absence" [readOnly]="showModal" />
                <p class="text-red-500 text-sm" *ngIf="form.submitted && !form.controls['dateAbsence']?.valid">date
                    d'absence requis</p>
            </div>

            <div class="mb-2">
                <input class="w-full p-2 border rounded" name="motif" [(ngModel)]="modalData.motif" placeholder="Motif"
                    required />
                <p class="text-red-500 text-sm" *ngIf="form.submitted && !form.controls['motif']?.valid">Motif requis
                </p>
            </div>

            <div class="mb-2">
                <input class="w-full p-2 border rounded" name="justification" [(ngModel)]="modalData.justification" placeholder="justification"
                    required />
                <p class="text-red-500 text-sm" *ngIf="form.submitted && !form.controls['justification']?.valid">Justification
                    requis
                </p>
            </div>

            <div class="mb-4">
                <input class="w-full p-2 border rounded" name="site" [readOnly]="showModal" [(ngModel)]="modalData.site" placeholder="Site"
                    required />
                <p class="text-red-500 text-sm" *ngIf="form.submitted && !form.controls['site']?.valid">Site requis</p>
            </div>

            <div class="flex justify-end">
                <button type="button" (click)="closeModal()"
                    class="mr-2 px-4 py-2 bg-gray-400 text-white rounded">Annuler</button>
                <button type="submit" [disabled]="form.invalid" class="px-4 py-2 bg-blue-600 text-white rounded">
                    Mettre à jour
                </button>
            </div>
        </form>

    </div>
</div>