<div class="p-6 md:p-8 bg-gradient-to-br from-gray-50 to-white rounded-2xl shadow-lg">

  <div class="flex mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#0000F5">
      <path
        d="M180-120q-24 0-42-18t-18-42v-660h60v660h660v60H180Zm75-135v-334h119v334H255Zm198 0v-540h119v540H453Zm194 0v-170h119v170H647Z" />
    </svg>
    <h2 class="text-2xl md:text-3xl font-bold mb-6 text-blue-700 flex items-center gap-3">
      Tableau de bord & Statistiques
    </h2>
  </div>

  <!-- Sélecteur Mois / Année / Produit -->
  <div class="flex flex-col md:flex-row gap-4 mb-8 items-center justify-between">
    <div class="flex flex-col">
      <div class="flex flex-wrap gap-4">
        <!-- Mois -->
        <div>
          <label class="block text-sm font-medium text-gray-600 mb-1">Mois</label>
          <select [(ngModel)]="moisSelectionne"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none">
            <option value="">-- Tous les mois --</option>
            <option *ngFor="let m of moisDisponibles; let i = index" [value]="i + 1">{{ m }}</option>
          </select>
        </div>

        <!-- Destination -->
        <div>
          <label class="block text-sm font-medium text-gray-600 mb-1">Destination</label>
          <select [(ngModel)]="destinationSelectionnee"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none">
            <option value="">-- Choisir une destination --</option>
            <option *ngFor="let dest of destinations" [value]="dest">
              {{ dest }}
            </option>
          </select>
        </div>

        <!-- Année -->
        <div>
          <label class="block text-sm font-medium text-gray-600 mb-1">Année</label>
          <input type="number" [(ngModel)]="anneeSelectionnee"
            class="border border-gray-300 rounded-lg px-3 py-2 w-28 focus:ring-2 focus:ring-blue-400 focus:outline-none"
            min="2020" max="2100" />
        </div>

        <!-- Produit -->
        <div>
          <label class="block text-sm font-medium text-gray-600 mb-1">Produit</label>
          <select [(ngModel)]="produitSelectionne"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none">
            <option value="">-- Choisir un produit --</option>
            <option *ngFor="let p of produits" [value]="p.nomProduit">
              {{ p.nomProduit }}
            </option>
          </select>
        </div>
        <!-- Mois début -->
        <div>
          <label class="block text-sm font-medium text-gray-600 mb-1">Mois début</label>
          <select [(ngModel)]="moisDebutSelectionne"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none">
            <option *ngFor="let m of moisDisponibles; let i = index" [value]="i + 1">{{ m }}</option>
          </select>
        </div>

        <!-- Mois fin -->
        <div>
          <label class="block text-sm font-medium text-gray-600 mb-1">Mois fin</label>
          <select [(ngModel)]="moisFinSelectionne"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none">
            <option *ngFor="let m of moisDisponibles; let i = index" [value]="i + 1">{{ m }}</option>
          </select>
        </div>

      </div>
    </div>
  </div>
  <button (click)="chargerTousLesGraphes()"
    class="mt-3 md:mt-4 mb-3 px-5 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-lg shadow-md transition-all duration-300">
    🔄 Actualiser
  </button>


  <!-- Loader global -->
  <div *ngIf="loading" class="text-center text-gray-500 text-lg mt-10 animate-pulse flex flex-col items-center gap-2">
    <span class="animate-spin rounded-full h-8 w-8 border-t-2 border-blue-600 border-opacity-60"></span>
    Chargement des données...
  </div>
  <!-- Aucune donnée disponible -->

  <!-- Quantité de produits consommée par destination -->
  <div *ngIf="!loading && sortieChart && sortieChart.labels?.length === 0"
    class="text-center text-gray-500 text-xl italic py-6">
    Aucune donnée trouvée pour cette période pour les Sorties par destination. Veuillez ajuster les filtres et réessayer
    (Graphe 1).
  </div>

  <!-- Quantité de produit consommée par destination pour chaque mois de l'année -->
  <div *ngIf="!loading && produitDestinationChart && produitDestinationChart.labels?.length === 0"
    class="text-center text-gray-500 text-xl italic py-6">
    Aucune donnée trouvée pour cette période pour le Produit sélectionné. Veuillez ajuster les filtres et réessayer
    (Graphe 2).
  </div>

  <!-- Consommation totale pour une destination pour chaque mois de l'année -->
  <div *ngIf="!loading && consommationDestinationChart && consommationDestinationChart.labels?.length === 0"
    class="text-center text-gray-500 text-xl italic py-6">
    Aucune donnée trouvée pour cette période pour {{ destinationSelectionnee }}. Veuillez ajuster les filtres et
    réessayer (Graphe 3).
  </div>




  <!-- === GRAPHIQUES === -->
  <div *ngIf="!loading" class="grid grid-cols-1 gap-6 animate-fadeIn">

    <!-- 🏢 Sorties par destination (NE PAS MODIFIER) -->
    <div *ngIf="!loading" class="p-5 bg-white rounded-xl shadow-md hover:shadow-lg transition-all duration-300">
      <h3 class="text-lg font-semibold mb-3 text-gray-700">
        🏢 Sorties par destination (pie) pour le mois de
        {{ moisSelectionne ? moisDisponibles[moisSelectionne - 1] : 'tous les mois' }}
        de l'année ({{ anneeSelectionnee }})
      </h3>
      <canvas baseChart [data]="sortieChart" [options]="sortieOptions" [type]="'pie'"></canvas>
    </div>

    <!-- Sorties par destination en Bar -->
    <div *ngIf="!loading" class="p-5 bg-white rounded-xl shadow-md hover:shadow-lg transition-all duration-300">
      <h3 class="text-lg font-semibold mb-3 text-gray-700">
        🏢 Sorties par destination (Bar) pour le mois de {{ moisDisponibles[moisSelectionne - 1] }} {{ anneeSelectionnee }}
      </h3>
      <canvas baseChart [data]="sortieBarChart" [options]="sortieBarOptions" [type]="'bar'"></canvas>
    </div>

    <div *ngIf="!loading"
      class="mt-8 p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-all duration-300 animate-fadeIn">
      <h3 class="text-lg font-semibold mb-3 text-gray-700">
        📈 Quantité de {{ produitSelectionne }} par mois pour {{ destinationSelectionnee }} de l'année ({{
        anneeSelectionnee }})
      </h3>
      <canvas baseChart [data]="produitDestinationChart" [options]="produitDestinationOptions" type="line">
      </canvas>

    </div>

    <div *ngIf="!loading"
      class="mt-8 p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-all duration-300 animate-fadeIn">
      <h3 class="text-lg font-semibold mb-3 text-gray-700">
        🏆 Classement des destinations selon {{ produitSelectionne }} —
        {{ moisDisponibles[moisSelectionne - 1] }} {{ anneeSelectionnee }}
      </h3>

      <canvas baseChart [data]="classementDestinationChart" [options]="classementDestinationOptions" type="bar">
      </canvas>
    </div>


    <div *ngIf="!loading"
      class="mt-8 p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-all duration-300 animate-fadeIn">
      <h3 class="text-lg font-semibold mb-3 text-gray-700">
        📈 Sorties total par mois pour de {{ destinationSelectionnee }} de l'année ({{ anneeSelectionnee }})
      </h3>
      <canvas baseChart [data]="consommationDestinationChart" [options]="consommationDestinationOptions" type="bar">
      </canvas>
    </div>

    <!-- 📊 Consommation du produit sur une période -->
    <div *ngIf="!loading"
      class="mt-8 p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-all duration-300 animate-fadeIn">
      <h3 class="text-lg font-semibold mb-3 text-gray-700">
        📊 Consommation de {{ produitSelectionne }} entre
        {{ moisDisponibles[moisDebutSelectionne - 1] }} et
        {{ moisDisponibles[moisFinSelectionne - 1] }}
        ({{ anneeSelectionnee }})
      </h3>

      <canvas baseChart [data]="consommationProduitPeriodeChart" [options]="consommationProduitPeriodeOptions"
        type="bar">
      </canvas>
    </div>

  </div>


</div>