<div class="flex flex-col justify-center items-center
         space-y-4 px-4 py-6 text-center">

    <!-- LOGO -->
    <img src="assets/Cleanic_logo.png" alt="Logo" class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40" />

    <!-- CHECK ICON -->
    <img src="assets/check2.png" alt="Succès" class="w-24 sm:w-32 md:w-40 h-auto" />

    <!-- TITLES -->
    <h1 class="font-bold text-2xl sm:text-3xl">
        Super !
    </h1>

    <h2 class="text-base sm:text-lg max-w-md">
        Votre pointage a été enregistré avec succès.
    </h2>

    <!-- MESSAGE -->
    <div class="flex flex-col sm:flex-row
           items-center justify-center
           gap-3">
        <p class="text-lg sm:text-2xl">
            Bonne soirée <span class="font-bold">{{ pointage.prenom }}</span>.
        </p>

        <img src="assets/bye1.png" alt="Au revoir" class="w-32 sm:w-40 md:w-56 h-auto" />
    </div>

</div>