@tailwind base;
@tailwind components;
@tailwind utilities;




body,html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}


app-root {
  display: block;
  height: 100%;
}



body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



/* styles.css or global styles */
.scrollbar-hidden {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}


.input {
  @apply w-full border px-3 py-2 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none;
}

.section-title {
  @apply text-lg font-semibold text-gray-700 mb-2 border-l-4 border-blue-600 pl-2;
}

.btn-primary {
  @apply w-full bg-blue-600 hover:bg-blue-700 text-white py-3 rounded-lg font-medium;
}