<div class="relative h-screen w-screen overflow-hidden bg-white flex flex-col">
  <!-- Logo container -->
  <div class="flex flex-col" [ngClass]="{
        'absolute inset-0 flex items-center justify-center transition-all duration-1000 ease-in-out': true,
        'translate-y-0 scale-150': !logoMoved,
        '-translate-y-[40%] scale-50 top-0': logoMoved
      }">
    <img src="assets/Cleanic_logo.png" alt="Logo" class="w-60 h-60" />
    <h2 class="md:text-5xl text-4xl">Bienvenue à Cleanic Sénégal</h2>
  </div>

  <!-- Buttons -->

  <div *ngIf="logoMoved" class="absolute bottom-80 w-full flex justify-center gap-4 opacity-0 animate-fadeInUp">
    <button class="bg-amber-600 text-5xl text-white px-6 py-2 rounded-2xl shadow-lg"
      (click)="CodePinPage()">Arrivée</button>
    <button class="bg-slate-600 text-5xl text-white px-6 py-2 rounded-2xl shadow-lg"
      (click)="CodePinPage()">Départ</button>
  </div>
  <div class="p-5">
    <button (click)="toggleForm()"
      class="w-16 h-16 top-20 rounded-full bg-amber-600 hover:bg-slate-600 text-white flex items-center justify-center shadow-md transition duration-500">
      <span class="font-bold">ADMIN</span>
    </button>
  </div>
</div>

<!-- Slide-down Form -->
<div class="fixed top-0 left-0 w-full bg-white shadow-xl transform transition-transform duration-500 z-50" [ngClass]="{
    'translate-y-0': showForm,
    '-translate-y-full': !showForm
  }">

  <!-- Close Button -->
  <div class="flex justify-end p-4">
    <button (click)="closeForm()" aria-label="Close form" class="text-gray-500 hover:text-red-600 text-2xl font-bold">
      &times;
    </button>
  </div>

  <!-- Reactive Form -->
  <div class="max-w-md mx-auto p-6 pb-10">
    <h2 class="text-2xl font-semibold text-center mb-6">Réservé à l'administrateur</h2>
    <form [formGroup]="contactForm" (ngSubmit)="login()" class="space-y-4">

      <input type="email" placeholder="Entrez votre adresse mail" formControlName="email"
        class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" />
      <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-red-500 text-sm">
        Veuillez saisir une adresse mail valide
      </div>

      <div class="relative">
        <input [type]=" showPassword ? 'text' : 'password'" placeholder="Entrez votre mot de passe" formControlName="password"
          class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" />
        <button type="button" (click)="togglePasswordVisibility()"
          class="absolute right-3 top-4 text-gray-500 hover:text-gray-800">
          {{ showPassword ? '🙈' : '👁️' }}
        </button>
        <div *ngIf="contactForm.get('password')?.invalid && contactForm.get('password')?.touched"
          class="text-red-500 text-sm">
          Veuillez saisir votre mot de passe
        </div>
      </div>

      <button type="submit" [disabled]="contactForm.invalid"
        class="w-full bg-amber-600 text-white text-xl py-3 rounded hover:bg-amber-800 transition disabled:opacity-50">
        Se connecter
      </button>
    </form>
    <button (click)="SuperAdminLogin()"
      class="w-full mt-3 bg-slate-600 text-white text-xl py-3 rounded hover:bg-slate-800 transition disabled:opacity-50">
      Super Admin
    </button>
    <!--<a href="#" class="flex items-center justify-center text-blue-700 mt-3">Mot de passe oublié</a>-->
  </div>
</div>