<div class="p-4">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">

    </span>
    <div class="relative w-full mb-4 max-w-md">
        <input type="text" [(ngModel)]="searchText" placeholder="Recherche..."
            class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
        <!-- Search Icon -->
        <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-gray-400 pointer-events-none"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-4.35-4.35M17 10a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
    </div>

    <h2 class="text-lg font-semibold mb-4 text-gray-500 text-center">Absences en temps réel</h2>

    <table class="min-w-full table-auto border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-200">
                <th class="p-2">code employé</th>
                <th class="p-2">Prénom</th>
                <th class="p-2">Nom</th>
                <th class="p-2">Numéro</th>
                <th class="p-2">dateAbsence</th>
                <th class="p-2">Motif</th>
                <th class="p-2">Justification</th>
                <th class="p-2">Site</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let absent of filteredAbsents">
                <td class="p-2">{{ absent.codeSecret }}</td>
                <td class="p-2">{{ absent.prenom }}</td>
                <td class="p-2">{{ absent.nom }}</td>
                <td class="p-2">{{ absent.numero }}</td>
                <td class="p-2">{{ absent.dateAbsence }}</td>
                <td class="p-2">{{ absent.motif }}</td>
                <td class="p-2">{{ absent.justification }}</td>
                <td class="p-2">{{ absent.site }}</td>
            </tr>
        </tbody>
    </table>
</div>

